<div class="row">
    <div class="col-xs-12">
        <h2 class="title">Login</h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div>
            <button ng-click="Login()">Login</button>
        </div>
    </div>
</div>