<div>
    <div class="row">
        <div class="col-xs-12">
            <h2 class="title">User Index</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eleifend turpis eu eleifend iaculis. Aliquam venenatis, odio sit amet venenatis ornare, justo quam rhoncus odio, maximus condimentum nulla quam quis nisl. Maecenas facilisis, est non egestas ornare, dolor nunc cursus diam, eu dapibus sapien neque et tellus. Donec venenatis sed mauris at rutrum. Sed vel justo facilisis, suscipit elit eget, maximus odio. Aliquam et urna ut nulla vulputate elementum. Cras in lacus pharetra, laoreet tellus et, eleifend mi. Nunc sed congue nisi.</p>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 right">
            <label for="text">Text</label>
        </div>
        <div class="col-xs-6 col-xs-offset-right-2">
            <input type="text" id="text" name="text" maxlength="150" autofocus="autofocus" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 right">
            <label for="text-disabled">Text Disabled</label>
        </div>
        <div class="col-xs-6 col-xs-offset-right-2">
            <input type="text" id="text-disabled" name="text-disabled" maxlength="150" disabled="disabled" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 right">
            <label for="textarea">Textarea</label>
        </div>
        <div class="col-xs-6 col-xs-offset-right-2">
            <textarea id="textarea" name="textarea" rows="4" cols="30"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 right">
            <label for="textarea-disabled">Textarea Disabled</label>
        </div>
        <div class="col-xs-6 col-xs-offset-right-2">
            <textarea id="textarea-disabled" name="textarea-disabled" rows="4" cols="30" disabled="disabled"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 right">
            <label for="select">Select</label>
        </div>
        <div class="col-xs-6 col-xs-offset-right-2">
            <select id="select" name="select">
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 right">
            <label for="select-disabled">Select Disabled</label>
        </div>
        <div class="col-xs-6 col-xs-offset-right-2">
            <select id="select-disabled" name="select-disabled" disabled="disabled">
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 right">
            <label>Button</label>
        </div>
        <div class="col-xs-6 col-xs-offset-right-2 left">
            <div>
                <a href="#" class="button">Button Link</a>

                <button>Button</button>

                <input type="submit" value="Submit" />

                <input type="reset" value="Reset" />

                <input type="file" name="file" id="file1" />
                <label for="file1">Upload</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 right">
            <label>Button Disabled</label>
        </div>
        <div class="col-xs-6 col-xs-offset-right-2 left">
            <div>
                <a ng-href="#" class="button disabled">Button Link</a>

                <button disabled="disabled">Button</button>

                <input disabled="disabled" type="submit" value="Submit" />

                <input disabled="disabled" type="reset" value="Reset" />

                <input type="file" name="file" id="file2" disabled="disabled" />
                <label for="file2">Upload</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 right">
            <label>Radio Button</label>
        </div>
        <div class="col-xs-6 col-xs-offset-right-2 left">
            <div class="row">
                <div class="col-xs-3">
                    <input type="radio" id="radio1" name="radio" checked value="1">
                    <label for="radio1">Radio 1</label>
                </div>
                <div class="col-xs-3">
                    <input type="radio" id="radio2" name="radio" value="2">
                    <label for="radio2">Radio 2</label>
                </div>
                <div class="col-xs-3">
                    <input type="radio" id="radio3" name="radio2" value="3" disabled="disabled">
                    <label for="radio3">Radio 3</label>
                </div>
                <div class="col-xs-3">
                    <input type="radio" id="radio4" name="radio2" value="4" checked disabled="disabled">
                    <label for="radio4">Radio 4</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 right">
            <label>Checkbox</label>
        </div>
        <div class="col-xs-6 col-xs-offset-right-2 left">
            <div class="row">
                <div class="col-xs-3">
                    <input type="checkbox" id="checkbox1" name="checkbox1" checked value="1">
                    <label for="checkbox1">Checkbox 1</label>
                </div>
                <div class="col-xs-3">
                    <input type="checkbox" id="checkbox2" name="checkbox2" value="2">
                    <label for="checkbox2">Checkbox 2</label>
                </div>
                <div class="col-xs-3">
                    <input type="checkbox" id="checkbox3" name="checkbox4" value="3" disabled="disabled">
                    <label for="checkbox3">Checkbox 3</label>
                </div>
                <div class="col-xs-3">
                    <input type="checkbox" id="checkbox4" name="checkbox5" value="4" checked disabled="disabled">
                    <label for="checkbox4">Checkbox 4</label>
                </div>
            </div>
        </div>
    </div>

    <table>
        <colgroup>
            <col />
            <col />
        </colgroup>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name 1</td>
                <td>Description 1</td>
            </tr>
            <tr>
                <td>Name 2</td>
                <td>Description 2</td>
            </tr>
            <tr>
                <td>Name 3</td>
                <td>Description 3</td>
            </tr>
        </tbody>
    </table>
</div>