html, body {
    font-size: 62.5%;
    height: 100%;
    min-height: 100%;
}

* {
    background: transparent;
    border: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: inherit;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0;
    text-align: center;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

a {
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
}

    a:active, a:hover {
        outline: 0;
    }

p, span {
    text-align: left;
}

p {
    margin: 1rem;
}

textarea {
    overflow: auto;
    resize: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: none;
    }


canvas {
    display: inline-block;
}

[hidden], object, template {
    display: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
