$font-family: "Segoe UI";
$font-size: 1.4rem;
$border-size: 0.1rem;
$color-primary: #303F9F;
$color-primary-hover-focus: #3F51B5;
$color-secondary: #00796B;
$color-secondary-hover-focus: #DDEBE9;
$element-padding: 0.5rem;